simple-ws/src/main/webapp/WEB-INF/simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/simple" xmlns:tns="http://www.example.org/simple"
	elementFormDefault="qualified">

	<xs:element name="firstname">
		<xs:complexType mixed="true" />
	</xs:element>
	<xs:element name="surname">
		<xs:complexType mixed="true" />
	</xs:element>

	<xs:element name="simpleRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:firstname" />
				<xs:element ref="tns:surname" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>